<div id="container">
    <h3><%= link_to "About", "pages/about" %></h3>
    <h1>Food</h1>
    <% @recipes.each do |recipe|%>
    <div class="card">
        <% if recipe.thumbnail == ''%>
            <%= image_tag "no_image.png" %>
        <% else %>
            <img style="width:100%;" src="<%= recipe.thumbnail %>"/>
        <% end %>
        <h3><%= link_to recipe.title, recipe %></h3>

    </div>

    <% end %>
</div>

<style>

#container {
    padding: 16px;
}
.card {
    width: 20%;
    display: inline-block;
}

</style>
