<div id="container">

    <h1>Food</h1>
    <div style="margin-bottom: 16px;">
        <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"/>
        </form>
    </div>
    <% @recipes.each do |recipe|%>
    <div class="card">
        <% if recipe.thumbnail == ''%>
            <%= image_tag "no_image.png", alt: recipe.title %>
        <% else %>
            <img style="width:100%;" alt="<%= recipe.title %>" src="<%= recipe.thumbnail %>"/>
        <% end %>
        <h3><%= link_to recipe.title, recipe %></h3>

    </div>

    <% end %>
</div>

